body {
    padding: 0;
    margin: 0;
    background: #eef0ea;
    font-family: sans-serif;
  }
  
  /*--- navigation bar ---*/
  
  .navbar {
    background:#42a8c9;
  }
  
  .nav-link,
  .navbar-brand {
    color: #fff;
    cursor: pointer;
  }
  
  .nav-link {
    margin-right: 1em !important;
  }
  
  .nav-link:hover {
    color: rgb(190, 228, 235);
  }
  
  .navbar-collapse {
    justify-content: flex-start;
  }

.header {
    background-image: url('header-background.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
}

.overlay {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.384);
  }

  .description {
    left: 50%;
    position: absolute;
    top: 60%;
    transform: translate(-50%, -55%);
    text-align: justify;
    background-color: #33829cb6;
    padding-left: 1%;
    padding-right: 1%;
  }
  
  .description h1 {
    color: #fff;
    text-align: center;
  }
  
  .description p {
    color: #fff;
    font-size: 1.3rem;
    line-height: 1.5;
  }

  .description a {
    color: #eef0ea;
  }
  
  .description ul {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    line-height: 1.5;
    text-decoration: underline;
    text-align: center;
    list-style: none;

  }
  .features {
    margin: 4em auto;
    padding: 1em;
    position: relative;
  }
  
  .feature-title a {
    color: #333;
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: uppercase;
  }
  
  .features img {
    -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    margin-bottom: 16px;
  }

  .linkedin {
    color: black;
  }
  
  @media (max-width: 575.98px) {

    .description {
      left: 0;
      padding: 0 15px;
      position: absolute;
      top: 10%;
      transform: none;
      text-align: center;
    }
    
    .description h1 {
      font-size: 2em;
    }
    
    .description p {
      font-size: 1.2rem;
    }
    
    .features {
      margin: 0;
    }
  
  }

  